.sidebar {
  top: 0;
  left: 0;
  width: 260px;
  height: 40rem;
  overflow-y: auto;
  overflow-x: exist;
  background-color: var(--secondary-color);
  padding: 20px 14px;
  box-shadow: rgba(100, 100, 111, 0.1) 2px 7px 29px 2px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  border-top-left-radius: 30px; /* Redondear la esquina superior izquierda */
  border-bottom-left-radius: 30px;
  transition: transform 0.3s ease; /* Agregar una transición suave al abrir y cerrar */

  /* Añadir margen superior solo cuando está abierta */
  margin-top: 2rem;
  /* Ajustar el margen izquierdo cuando está abierta */
  margin-left: 1rem;
  margin-bottom: 2rem;
 

  .subitem{
    display: none;
    
    
  }
.subitemactive{
  margin-top: .2rem;
  width: 90%;
  margin-left: 1rem;
}
  // toggling this class helps to hide/unhide the sidebar
  &.sidebar-show{
  
  }

  // showing icons only on sidebar
  // @media(max-width: 1200px){
  //   width: auto;
  //   padding: 20px 6px;
  // }
 
  // hiding full on small screen
 

  .sidebar-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--border-color-inverted);
  }

  .sidebar-brand{
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  .sidebar-brand-text{
    text-transform: uppercase;
    font-weight: 900;
    color: var(--logo-color);
    margin-bottom: 8px;

    // @media(max-width: 1200px){
    //     display: none;
    // }

   
  }

  .sidebar-close-btn{
    background-color: var(--toggle-btn-bg-color);
    width: 28px;
    height: 28px;
    box-shadow: 0px 0px 4px rgba(71, 91, 232, 0.04);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--toggle-btn-icon-color);
    border-radius: 2px;
    transition: var(--default-transition);
    display: none;

   
    &:hover{
        opacity: 0.8;
    }
  }

  .menu-item{
    margin-bottom: 8px;

    &:last-child{
        margin-bottom: 0;
    }

    // @media(max-width: 1200px){
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    // }
  }

  .menu-link{
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 11px;
    padding: 12px;
    border-radius: 12px;
    color: var(--side-text-color);
    transition: var(--default-transition);

    // @media(max-width: 1200px){
    //     padding: 2px;
    //     width: 36px;
    //     height: 36px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     border-radius: 8px;
    // }

   

    &:hover{
        background-color: var(--side-link-hover-color);
    }

    &.active{
        background-color: var(--primary-color);
        color: var(--light-color);
        box-shadow: 0px 0px 4px rgba(71, 91, 232, 0.04);
    }
    &.subactive{
      background-color: rgb(101, 121, 252)
      ;
      color: var(--light-color);
      box-shadow: 0px 0px 4px rgba(71, 91, 232, 0.04);
  }
  }

  .mennu-link-icon{
    display: flex;
    align-items: center;
  }

  .menu-link-text{
    font-family: var(--font-family-manrope);
    font-weight: 500;
    
    // @media(max-width: 1200px){
    //     display: none;
    // }
    
  }

  .sidebar-body{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sidebar-menu2{
    margin-top: auto;
  }
}
.container {
  display: flex;
}
.content {
  flex: 1; /* El contenido ocupará todo el espacio restante en la fila */
  /* Estilos adicionales para el contenido */
}


.marginlefting {
  margin-left: 60px !important;
}

.displaynone {
  display: none !important;
}

.displayblock {
  display: block !important;
}

.sidebar .item i {
  font-size: 24px;
  margin-top: -5px !important;
}

.logo {
  height: 48px !important;
  padding: 10px !important;
}

.logo img {
  width: 100% !important;
  height: 38px !important;
}

.title.item {
  padding: .92857143em 1.14285714em !important;
}

.dropdown .menu .header {
  padding-top: 3.9px!important;
  padding-bottom: 3.9px!important;
}